<div class="blog-post <%= 'abbrev' if defined? abbrev and abbrev %>">
    <div class="masthead">
        <div class="title">
            <h1><a href="<%= post_slug_url post.slug %>"><%= post.title %></a></h1>
        </div>
        <div class="date">
            <time><%= post.created_at.strftime("%B %d, %Y") %></time>
        </div>
    </div>
    <div class="body">
        <% if defined? abbrev and abbrev %>
        <%= post.cache_abbrev ||= abbrev_post post.content %>
        <% else %>
        <%= post.cache_full ||= format_post post.content %>
        <% end %>
    </div>
</div>
<style><%= post.cache_css ||= Pygments.css %></style>