<div class="post">
    <div class="masthead">
        <h2><a href="<%= post_slug_url post.slug %>"><%= post.title %></a></h2>
        <span><%= post.created_at %></span>
        <div class="clear"></div>
    </div>
    <% if defined? abbrev %>
        <p>
            <%= abbrev_post post.content %>
        </p>
        <p>
            <a href="<%= post_slug_url post.slug %>">Read more...</a>
        </p>
    <% else %>
        <p>
            <%= format_post post.content %>
        </p>
    <% end %>
</div>
<style><%= Pygments.css %></style>