<!doctype html>
<html>
	<head>
		<title>
            <% if @title %>
                    <%= @title %> &mdash; Stanley Cen
            <% else %>
                    Stanley Cen
            <% end %>
        </title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<% if @nav == 'home' %>
			<meta name="Description" content="Hi there! I'm Stanley Cen, MIT sophomore studying computer science and intern at Dropbox. I build things.">
		<% end %>
		<link type="text/plain" rel="author" href="/humans.txt" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css"/>
		<link href="/main.css" rel="stylesheet" type="text/css"/>
		<style type="text/css">
			.masthead-parallax-img {
                background: url("<%= @header_img %>");
            }
		</style>
	    <script type="text/javascript">
var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-4253037-6"]),_gaq.push(["_setDomainName","stanleycen.com"]),_gaq.push(["_trackPageview"]),function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();var _paq=_paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var e="http://analytics.stanleycen.com/";_paq.push(["setTrackerUrl",e+"piwik.php"]),_paq.push(["setSiteId",1]);var a=document,p=a.createElement("script"),t=a.getElementsByTagName("script")[0];p.type="text/javascript",p.async=!0,p.defer=!0,p.src=e+"piwik.js",t.parentNode.insertBefore(p,t)}();window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])}; heap.load("3908329247");
		</script>
		<noscript><p><img src="http://analytics.stanleycen.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
	</head>
	<body>
		<div id="container">
			<div id="page">
				<div class="rel">
					<header id="header" class='maybe-hide-masthead'>
						<a class="navicon-button"><div class="navicon"></div></a>
						<div class="name"><a href="/"><h1>stanley</h1><h2>cen</h2></a></div>
						<%= erb :nav %>
					</header>
				</div>
				<%= yield %>
			</div>
			<footer>
				<div class="wrapper">
					<div class="copyleft">
						Made with <span id='heart'>♥</span> by Stanley.
					</div>
					<div class="latest-commit">
						<% if !is_heroku? or (is_heroku? and $heroku and $last_commit and $the_commit) %>Deployed revision <a href="https://github.com/scen/stanleycen.com/commit/<%= get_commit_sha %>">
	                <%= get_commit_sha[0...7] %></a> (<time datetime="<%= get_commit_time.to_f*1000.0 %>"><%= get_commit_time.strftime("%B %d, %Y")%></time>).<% end %>
					</div>
				</div>
			</footer>
		</div>
		<div class="site-overlay"></div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
