<!doctype html>
<html>
	<head>
		<title>
            <% if @title %>
                    <%= @title %> &mdash; Stanley Cen
            <% else %>
                    Stanley Cen
            <% end %>
        </title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<link rel="author" href="/humans.txt" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/>
		<link href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css" rel="stylesheet" type="text/css"/>
		<link href="/main.css" rel="stylesheet" type="text/css"/>
		<link href="/rs/royalslider.css" rel="stylesheet" type="text/css"/>
		<link href="/fontello.css" rel="stylesheet" type="text/css"/>
		<link href="/rs/skins/minimal-white/rs-minimal-white.css" rel="stylesheet" type="text/css"/>
        <link type="text/css" rel="stylesheet" href="/fancybox/jquery.fancybox.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/jquery.mobiledetect.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="/rs/jquery.royalslider.min.js"></script>
		<script src="/ga.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.45/jquery.form.min.js"></script>
        <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>
		<script src="/main.js"></script>
	</head>
	<body>
		<header id="header" class="hide-nav">
			<a class="navicon-button">
				<div class="navicon"></div>
			</a>
			<h1><a href="<%= @nav == 'home' ? '#home' : '/'%>">stanley cen</a></h1>
			<nav>
				<ul>
					<li><a href="<%= nav_url(@nav,'projects') %>" class="<%= get_nav_classes 'projects' %>">projects</a></li>
					<li><a href="<%= nav_url(@nav,'blog')%>" class="<%= get_nav_classes 'blog' %>">blog</a></li>
					<li><a href="<%= @nav == 'home' ? '#about' : '/#about'%>" class="<%= get_nav_classes 'about' %>">about</a></li>
					<li><a href="<%= @nav == 'home' ? '#contact' : '/#contact'%>" class="<%= get_nav_classes 'contact' %>">contact</a></li>
					<li><a href="http://github.com/scen/" class="<%= get_nav_classes 'github' %>">github</a></li>
				</ul>
			</nav>
		</header>
		<%= "<div style='height:52px'></div>" if @nav != 'home' %>
		<%= yield %>
		<footer>
			<% if @nav == 'home' %>
			<!-- <div class="scrollup">
				<a href="#home"></a>
			</div> -->
			<% end %>
			<div class="bar">
				<div class="wrapper">
					<span class="copyleft">
						Designed with &lt;3 by Stanley Cen
					</span>
					<span class="latest-commit">
						<% if !is_heroku? or (is_heroku? and $heroku and $last_commit and $the_commit) %>Running latest commit <a href="https://github.com/scen/stanleycen.com/commit/<%= get_commit_sha %>">
	                <%= get_commit_sha[0...7] %></a> <%= get_commit_time.to_pretty %>: <%= '"' + get_commit_msg.split(/\n/).first + '"' %><% end %>
					</span>
				</div>
			</div>
		</footer>
	</body>
</html>
