<!doctype html>
<html>
	<head>
		<title>Stanley Cen</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/>
		<link href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css" rel="stylesheet" type="text/css"/>
		<link href="/main.css" rel="stylesheet" type="text/css"/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="jquery.mobiledetect.js"></script>
		<script src="/main.js"></script>
	</head>
	<body>
		<header id="header">
			<h1><a href="/">stanley cen</a></h1>
			<nav>
				<a href="/blog" class="<%= get_nav_classes 'blog' %>">blog</a>
				<a href="/projects" class="<%= get_nav_classes 'projects' %>">projects</a>
				<a href="http://github.com/scen/" class="<%= get_nav_classes 'github' %>">github</a>
				<a href="/contact" class="<%= get_nav_classes 'contact' %>">contact</a>
				<a href="/about" class="<%= get_nav_classes 'about' %>">about</a>
			</nav>
		</header>
		<section id="home">
			<div id="home-shoutout">
				<div>
					<h1>Hey there!</h1>
					<h3>I'm <strong>Stanley Cen</strong>, a high school senior and computer science enthusiast living in Portland, Oregon.</h3>
				</div>
			</div>
			<div id="scroll-notifier">
			</div>
		</section>
		<section id="content">
			<div id="mission">
				<div class="inner">
					<h1>I love <span class="highlight">making stuff</span> and here you'll find my projects and the stories behind them.</h1>
				</div>
			</div>
			<!-- <div id="blog-recent">
				<div class="header">
					<h1 class="header">Recent blog <span class="highlight">posts</span></h1>
				</div>
			</div> -->
			<div id="about">
				<div class="header">
					<h1 class="header">About <span class="highlight">me</span></h1>
				</div>
				<div class="content">
					<div class="row">
						<div class="left">
							<div class="wrapper">
								<div class="timeline">
									<div class="event">
										<span class="date">
											May 2013
										</span>
										<span class="circle"></span>
										<span class="bar"></span>
										<span class="label">
											Yolo
										</span>
									</div>
									<div class="event">
										<span class="date">
											Mayssss 2013
										</span>
										<span class="circle"></span>
										<span class="bar"></span>
										<span class="label">
											Yolo
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="right">
							<div class="content">
								Hello world blah blah.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div style="min-height: 5000px"></div>
	</body>
</html>
