<!doctype html>
<html>
	<head>
		<title>
            <% if @title %>
                    <%= @title %> &mdash; Stanley Cen
            <% else %>
                    Stanley Cen
            <% end %>
        </title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<% if @nav == 'home' %>
			<meta name="Description" content="Helloo there! I'm Stanley Cen, freshman at MIT studying computer science and an intern at Dropbox!">
		<% end %>
		<link rel="author" href="/humans.txt" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
		<link rel="stylesheet" type="text/css" href="/css/fluidbox.css">
		<link href="/main.css" rel="stylesheet" type="text/css"/>
		<style type="text/css">
			.masthead-parallax-img {
				background: url("<%= @header_img %>");
			}
		</style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="/js/jquery.fluidbox.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/main.js"></script>
	    <script type="text/javascript">
var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-4253037-6"]),_gaq.push(["_setDomainName","stanleycen.com"]),_gaq.push(["_trackPageview"]),function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();var _paq=_paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var e="http://lake.stanleycen.com/";_paq.push(["setTrackerUrl",e+"piwik.php"]),_paq.push(["setSiteId",1]);var a=document,p=a.createElement("script"),t=a.getElementsByTagName("script")[0];p.type="text/javascript",p.async=!0,p.defer=!0,p.src=e+"piwik.js",t.parentNode.insertBefore(p,t)}();window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])}; heap.load("3908329247");
		</script>
		<noscript><p><img src="http://lake.stanleycen.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
	</head>
	<body>
		<div id="container">
			<div id="page">
				<div class="rel">
					<header id="header">
						<a class="navicon-button"><div class="navicon"></div></a>
						<div class="name"><a href="/"><h1>stanley</h1><h2>cen</h2></a></div>
						<%= erb :nav %>
					</header>
				</div>
				<section id="masthead">
					<div class="parallax-wrap">
						<div class="parallax-img masthead-parallax-img"><div class="darken-filter"></div></div>
						<div class="parallax-content">
							<% case @nav
							   when 'home' %>
								<div class="masthead-home-tagline">
									<div class>
										<h3 class="animated slideInDown"><em><%= GREETINGS.last %></em> :<span class="paren">)</span></h3>
										<h1 class="animated slideInDown">I'm <strong>Stanley</strong>, a freshman@mit, intern@dropbox, and builder of things.</h1>
									</div>
								</div>
							<% when 'blog' %>
								<% if @post # if we're browsing to a specific post %>
									<div class="blog-masthead">
										<div class>
											<h1 class="animated slideInDown"><%= @post.title %></h1>
											<h4 class="animated slideInDown"><%= @post.created_at.strftime("%B %d, %Y") %></h4>
										</div>
									</div>
								<% else %>
									<div class="blog-masthead">
										<div class>
											<h1 class="animated slideInDown">Blog</h1>
										</div>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</section>
				<%= yield %>
			</div>
		</div>
		<div class="site-overlay"></div>
		<footer>
			<div class="wrapper">
				<div class="copyleft">
					Designed with &lt;3 by Stanley Cen
				</div>
				<div class="latest-commit">
					<% if !is_heroku? or (is_heroku? and $heroku and $last_commit and $the_commit) %>Running latest commit <a href="https://github.com/scen/stanleycen.com/commit/<%= get_commit_sha %>">
                <%= get_commit_sha[0...7] %></a> (<%= get_commit_time.to_pretty %>): <%= '"' + get_commit_msg.split(/\n/).first + '"' %><% end %>
				</div>
			</div>
		</footer>
	</body>
</html>
