<!doctype html>
<html>
  <head>
    <title>
      <% if current_page.data.title %>
        <%= current_page.data.title %> &mdash; Stanley Cen
      <% else %>
        Stanley Cen
      <% end %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <% if current_page.data.nav == 'home' %>
      <meta name="Description" content="Hi there! I'm Stanley Cen, a senior at MIT studying computer science and music. I sometimes blog about things.">
    <% end %>
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
      .masthead-parallax-img {
        background: url("<%= get_header_image(current_page) %>");
      }
    </style>
    <script type="text/javascript">
var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-4253037-6"]),_gaq.push(["_setDomainName","stanleycen.com"]),_gaq.push(["_trackPageview"]),function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();
    </script>
  </head>
  <body>
    <div id="container">
      <div id="page">
        <div class="rel">
          <header id="header" class='maybe-hide-masthead'>
            <a class="navicon-button"><div class="navicon"></div></a>
            <div class="name"><a href="/"><h1>stanley</h1><h2>cen</h2></a></div>
            <%= partial "nav" %>
          </header>
        </div>
        <%= yield %>
      </div>
      <footer>
        <div class="wrapper">
          <div class="copyleft">
            Made with <span id='heart'>♥</span> by <a href="/humans.txt">Stanley</a>.
          </div>
          <div class="latest-commit">
            Deployed revision <a href="https://github.com/scen/stanleycen.com/commit/<%= get_commit_sha %>">
            <%= get_commit_sha[0...7] %></a> (<time datetime="<%= get_commit_time.to_f*1000.0 %>"><%= get_commit_time.strftime("%B %d, %Y")%></time>).
          </div>
        </div>
      </footer>
    </div>
    <div class="site-overlay"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
