<%
@articles = blog(:hikes).articles
if !locals[:recent].nil?
    @articles = @articles[0...locals[:recent]]
end
%>

<div class='posts-wrap body-text'>
    <% @articles.each do |article| %>
        <div class='blog-post'>
            <article>
                <div class='post-details'>
                    <div class='metadata'>
                        <time>
                        <%= article.date.strftime("%B %d, %Y") %>
                        <% if article.data.key?('end_date') %>
                            &mdash; <%= Date::parse(article.data.end_date).strftime("%B %d, %Y") %>
                        <% end %>
                        </time>
                        <h1><a href="<%= article.url %>"><%= get_hike_title article %></a></h1>
                    </div>
                </div>
                <% if article.data.header_img %>
                <div class='post-image' style="background-image: url('<%= url_for article.data.header_img %>');">
                </div>
                <% end %>
                <div class='summary'>
                    <%= markdown_to_html article.data.blurb %>
                </div>
            </article>
        </div>
    <% end %>
</div>