<%
@articles = blog(:blog).articles
if !locals[:recent].nil?
    @articles = @articles[0...locals[:recent]]
end
%>

<div class='posts-wrap body-text'>
    <%
    @articles.each do |article|
    $current_article = article
    %>
        <div class='blog-post'>
            <article>
                <div class='post-details'>
                    <div class='metadata'>
                        <time><%= article.date.strftime("%B %d, %Y") %></time>
                        <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
                    </div>
                </div>
                <% if article.data.header_img %>
                    <div class='post-image' style="background-image: url('<%= url_for article.data.header_img %>');">
                    </div>
                <% end %>
                <div class='summary'>
                    <%= article.summary %>
                </div>
            </article>
        </div>
    <%
    $current_article = nil
    end
    %>
</div>
