<%
@articles = blog(:hikes).articles
if !locals[:recent].nil?
    @articles = @articles[0...locals[:recent]]
end
%>

<div class='posts-wrap body-text'>
    <%
    @articles.each do |article|
    $current_article = article
    %>
        <div class='blog-post'>
            <article>
                <div class='post-details'>
                    <div class='metadata'>
                        <time>
                        <%= render_hike_date article %>
                        </time>
                        <h1><a href="<%= article.url %>"><%= get_hike_title article %></a></h1>
                    </div>
                </div>
                <% if article.data.header_img %>
                <div class='post-image' style="background-image: url('<%= url article.data.header_img %>');">
                </div>
                <% end %>
                <div class='summary'>
                    <%= markdown_to_html article.data.blurb %>
                </div>
            </article>
        </div>
    <%
    $current_article = nil
    end
    %>
</div>